$gris: #CACFD2;
$naranja: rgb(207, 94, 19);
$amarillo: #F4D03F;
$rojo: rgb(211, 42, 30);
$negro: black;
$font1: Arial, Helvetica, sans-serif;
$font2: 'Bebas Neue', cursive;
$font3: 'Roboto Mono', monospace;
$font-size1: 32px;
$font-size2: 20px; 