@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Macondo&family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: $negro;
}

.header-index {
    @include header;

    .nav-container2 {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .boton1 {
            @extend .boton;
            font-size: $font-size1;
        }

        .boton1:hover {
            height: 80px;
        }
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 20vh;

        .nav-titulo {
            display: flex;
            justify-content: center;
            width: 100%;
            color: $gris;
            font-family: $font2;
            font-size: 50px;
            padding: 20px;
            font-weight: bold;
        }

        .nav-lista {
            display: flex;
            justify-content: center;
            width: 100%;

            ul {
                list-style: none;
            }

            .lista {
                display: flex;
                justify-items: end;
                font-family: $font1;
                padding: 20px;

                .li {
                    padding: 10px;

                    .a {
                        text-decoration: none;
                        color: $gris;
                    }
                }
            }
        }
    }
}

.section-videos {
    h2 {
        @include titulos1;
    }

    .videos {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        margin: 30px;
    }
}

.personajes {
    display: flex;
    flex-direction: column;
    color: $amarillo;
    font-size: $font-size2;
    font-family: $font3;

    .boton2 {
        @extend .boton;
        font-size: $font-size1;
    }

    .a-boton2 {
        margin: auto;
        margin-top: 20px;
    }

    .boton2:hover {
        height: 80px;
    }
}

main {
    background-color: $negro;
}

hr {
    margin: 20px;
}

.footer-container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $gris;
    font-family: $font1;

    .info-footer {
        display: flex;
        align-items: center;
        flex-direction: column;

        .logos-flex {
            width: 100px;
            display: flex;
            justify-content: space-between;
        }

        h2 {
            margin: 20px;
        }

        .logo1 {
            width: 40px;
            height: 40px;
        }

        .logo2 {
            width: 40px;
            height: 40px;
        }
    }
}

.footer-derechos {
    color: $gris;
    font-family: $font1;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 0px) and (max-width: 700px) {

    .header-index {
        @include header;

        .nav-container2 {
            height: 50vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .boton1{
                background-image: linear-gradient(to right, #44130d, #922B21, #D35400, #F4D03F);
                height: 20%;
                width: 45%;
                color: $negro;
                font-size: 20px;
                font-family: $font3;
                font-weight: 1000;
                border: #641E16;
                border-radius: 30px;
                padding: 10px;
                display: flex;
                align-items: center;
            }
        }

        .nav-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: 20vh;

            .nav-titulo {
                display: flex;
                justify-content: center;
                width: 100%;
                color: $gris;
                font-family: $font2;
                font-size: 30px;
                padding: 20px;
                font-weight: bold;
            }

            .nav-lista {
                display: flex;
                justify-content: center;
                width: 100%;

                ul {
                    list-style: none;
                }

                .lista {
                    display: flex;
                    justify-items: end;
                    font-family: $font1;
                    padding: 20px;

                    .li {
                        padding: 10px;

                        .a {
                            text-decoration: none;
                            color: $gris;
                        }
                    }
                }
            }
        }
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        margin: 0;
    }

    .personajes {
        display: flex;
        flex-direction: column;
        color: $amarillo;
        font-size: $font-size2;
        font-family: $font3;
    
        .boton2 {
            background-image: linear-gradient(to right, #44130d, #922B21, #D35400, #F4D03F);
            height: 70px;
            width: fit-content;
            color: $negro;
            font-size: 20px;
            font-family: $font3;
            font-weight: 1000;
            list-style: none;
            border: #641E16;
            border-radius: 30px;
            padding: 10px;
        }
    
        .a-boton2 {
            margin: auto;
            margin-top: 20px;
        }
    
        .boton2:hover {
            height: 80px;
        }
    }
}