@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Macondo&family=Roboto+Mono:wght@100&display=swap');


.header-personajes{
    @include header;

    .nav-container2{
        height: 50vh;
        width: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 200%;
        height: 20vh;

        .boton-items{
            @extend .boton;
        }

        .boton-items:hover{
            height: 80px;
        }

        .nav-titulo{
            display: flex;
            justify-content: center;
            width: 200%;
            color: $gris;
            font-family: $font2;
            font-size: 50px;
            padding: 20px;
            font-weight: bold;
        }

        .nav-lista{
            display: flex;
            justify-content: center;
            width: 200%;
    }

        ul{
            list-style: none;
        }

        .lista{
            display: flex;
            justify-items: end;
            font-family: $font1;
            padding: 20px;

            .li{
                padding: 10px;

            .a{
                text-decoration: none;
                color: $gris;
                }
            }
        }
    }
}

main{
    padding: 10px;
    background-color: black;

    .article-personajes{
        padding: 20px;

        h2{
            @include titulos1;
            color: $rojo;
        }

        .p-personajes{
            @include textos2;
        }
    }

    .asesinos-container{
        padding: 20px;
        border: 2px dotted $naranja;
        display: grid;
        grid-template-areas: 
        "asesino1 asesino2"
        "asesino3 asesino4"
        "asesino5 asesino6";
    }

    .supervivientes-container{
        padding: 20px;
        border: 2px dotted $naranja;
        display: grid;
        grid-template-areas: 
        "superviviente1 superviviente2"
        "superviviente3 superviviente4"
        "superviviente5 superviviente6";
    }

    h4{
        @include titulos2;
    }

    .p-supervivientes{
        @include textos1;
    }

    .p-asesinos{
        @include textos1;
    }
}

hr{
    margin: 20px;
}

.footer-container{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $gris;
    font-family: $font1;

    .info-footer{
        display: flex;
        align-items: center;
        flex-direction: column;

        .logos-flex{
            width: 100px;
            display: flex;
            justify-content: space-between;
        }

        h2{
            margin: 20px;
        }

        .logo1{
            width: 40px;
            height: 40px;
        }
        .logo2{
            width: 40px;
            height: 40px;
        }
    }
}
.footer-derechos{
    color: $gris;
    font-family: $font1;
    display: flex;
    justify-content: center;
}
