@import "../variables/variables";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Macondo&display=swap');

.boton{
    background-image: linear-gradient(to right, #44130d, #922B21, #D35400, #F4D03F);
    height: 70px;
    width: fit-content;
    color: $negro;
    font-family: $font3;
    font-weight: bold;
    border: #641E16;
    border-radius: 30px;
    padding: 10px;
}
